/CSS.txt
/homepage evergreen.html
/homepage evergreen_files
/homepage evergreen_files - Kopie
/HTML.txt
/JavaCode.txt
/Planung, Exceltabellenanordnung. IPT 3.1.docx
/S-INF-21s-Schwegler-Aline-Website erstellen – Kopie – Kopie.docx
/S-INF21a-Schwegler-Aline-Planung-20220413.xlsx
/S-INF21a-Schwegler-Aline-Planung-Statsusbericht2-20220518.xlsx
/S-INF21s-Schwegler-Aline-Mockup.docx
/S-INF21s-Schwegler-Aline-Mockup.xd
/S-INF21s_Schwegler_Aline_Mockup.docx
/Webseite, IPT, Informatik